In [18]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
pd.set_option("display.max_columns", None)


#load the data
data = pd.read_csv("Flight2019.csv")
#airlines = pd.read_csv("~/Documents/PycharmProjects/Flights/venv/airlines.csv")
#airports = pd.read_csv("~/Documents/PycharmProjects/Flights/venv/airports.csv")

In [17]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [19]:
def clean_variables_1(data):
    
    """
    Clean variables that provide no information for delays
    """
    
    NAs_to_remove = ["Quarter","Flight_Number_Reporting_Airline", "Div5TailNum", "Div5WheelsOff", "Div5LongestGTime",
                        "Div5LongestGTime", "Div5TotalGTime", "Div5WheelsOn", "Div5AirportSeqID",
                        "Div5AirportID", "Div5Airport", "Div4TailNum", "Div4WheelsOff", "Div4LongestGTime",
                        "Div4TotalGTime", "Div4WheelsOn", "Div4AirportSeqID", "Div4AirportID", "Div4Airport",
                        "Div3TailNum", "Div3WheelsOff", "Div3LongestGTime", "Div3TotalGTime", "Div3WheelsOn",
                        "Div3AirportSeqID","Div3AirportID", "Div3Airport", "Div2TailNum", "Div2WheelsOff",
                        "Div2LongestGTime", "Div2TotalGTime", "Div2WheelsOn", "Div2AirportSeqID", "Div2AirportID",
                        "Div2Airport", "Div1TailNum", "Div1WheelsOff", "Div1LongestGTime", "Div1TotalGTime",
                        "Div1WheelsOn","Div1AirportSeqID", "Div1AirportID", "Div1Airport", "DivDistance",
                        "DivArrDelay", "DivActualElapsedTime","DivReachedDest", "DivAirportLandings",
                        "LongestAddGTime", "DistanceGroup", "CancellationCode", "DestState", "DestStateFips",
                        "DestStateName", "DestWac", "OriginWac", "OriginStateName", "OriginStateFips",
                        "OriginState", "FirstDepTime", "TotalAddGTime", "Cancelled","Unnamed: 109","OriginCityName","ArrDelay"]
    
    data = data.drop(NAs_to_remove, axis = 1)
    
    return data


def clean_variables_2(data):
    
    """
    Clean variables that do provide input but can have multicollinearity issues
    """
    
    other_columns = ["Year", "Month", "DayofMonth", "FlightDate", "Reporting_Airline", "Tail_Number", "DOT_ID_Reporting_Airline",
                    "OriginAirportID", "OriginAirportSeqID", "OriginCityMarketID",
                    "DestAirportID", "DestAirportSeqID", "DestCityMarketID", "DestCityName",
                    "DepDelay", "DepartureDelayGroups", "DepTimeBlk", "ArrTime", "ArrivalDelayGroups", "ArrTimeBlk",
                    "Diverted", "AirTime", "Flights"]
    
    data = data.drop(other_columns, axis = 1)
    
    return data


def clean_variables_3(data):
    
    """
    Clean delay variables
    """
    
    pot_vars = ["CarrierDelay", "WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay"]
    
    data = data.drop(pot_vars, axis = 1)
    
    return data

data = clean_variables_1(data)
data = clean_variables_2(data)
data = clean_variables_3(data)
data.head()

,DayOfWeek,IATA_CODE_Reporting_Airline,Flight_Number_Reporting_Airline,Origin,OriginCityName,Dest,CRSDepTime,DepTime,DepDelayMinutes,DepDel15,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,CRSElapsedTime,ActualElapsedTime,Distance
0,6,OH,5213,OAJ,"Jacksonville/Camp Lejeune, NC",CLT,1036,1032.0,0.0,0.0,9.0,1041.0,1119.0,8.0,1201,-34.0,0.0,0.0,85.0,55.0,191.0
1,7,OH,5213,OAJ,"Jacksonville/Camp Lejeune, NC",CLT,1036,1054.0,18.0,1.0,13.0,1107.0,1147.0,7.0,1201,-7.0,0.0,0.0,85.0,60.0,191.0
2,1,OH,5213,OAJ,"Jacksonville/Camp Lejeune, NC",CLT,1036,1112.0,36.0,1.0,12.0,1124.0,1209.0,4.0,1201,12.0,12.0,0.0,85.0,61.0,191.0
3,2,OH,5213,OAJ,"Jacksonville/Camp Lejeune, NC",CLT,1036,1112.0,36.0,1.0,15.0,1127.0,1211.0,13.0,1201,23.0,23.0,1.0,85.0,72.0,191.0
4,3,OH,5213,OAJ,"Jacksonville/Camp Lejeune, NC",CLT,1036,1029.0,0.0,0.0,8.0,1037.0,1123.0,36.0,1201,-2.0,0.0,0.0,85.0,90.0,191.0

In [24]:
#data['CRSDepTime'] = df['CRSDepTime'].astype(str).str[:-2].astype(np.int64)
tab_info=pd.DataFrame(data.dtypes).T.rename(index={0:'column type'})
tab_info=tab_info.append(pd.DataFrame(data.isnull().sum()).T.rename(index={0:'null values (nb)'}))
tab_info=tab_info.append(pd.DataFrame(data.isnull().sum()/df.shape[0]*100)
                         .T.rename(index={0:'null values (%)'}))
tab_info

,DayOfWeek,IATA_CODE_Reporting_Airline,Flight_Number_Reporting_Airline,Origin,OriginCityName,Dest,CRSDepTime,DepTime,DepDelayMinutes,DepDel15,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,CRSElapsedTime,ActualElapsedTime,Distance
column type,int64,object,int64,object,object,object,int64,float64,float64,float64,float64,float64,float64,float64,int64,float64,float64,float64,float64,float64,float64
null values (nb),0,0,0,0,0,0,0,4226,4227,4227,4367,4367,4595,4595,0,5346,5346,5346,0,5346,0
null values (%),0,0,0,0,0,0,0,0.701466,0.701631,0.701631,0.72487,0.72487,0.762715,0.762715,0,0.887372,0.887372,0.887372,0,0.887372,0

In [34]:
main_airports = data[["Origin","Dest"]].groupby(["Origin"]).count().sort_values(by="Dest",ascending=False)
for i in range(len(data["Origin"])):
    if i in main_airports == False:
        data[Origin]

         Dest
Origin
JAX      2634
RSW      3153
SNA      3238
SAT      3255
CVG      3808
CLE      3816
IND      4062
CMH      4130
PIT      4183
OAK      4294
MCI      4297
SMF      4360
HNL      4393
HOU      4763
MSY      4767
SJC      5009
PDX      5094
RDU      5467
AUS      5493
STL      5558
IAD      5963
DAL      6014
TPA      6516
MDW      6572
BNA      6854
MIA      7109
SAN      7353
FLL      8515
BWI      8859
SLC      9048
PHL      9674
JFK      9959
DCA     11019
EWR     11135
SEA     11457
MCO     12075
MSP     12495
BOS     12606
LAS     13217
DTW     13290
SFO     13548
LGA     13553
PHX     14105
IAH     14886
LAX     17501
CLT     19645
DEN     20553
DFW     25023
ORD     27411
ATL     31201

In [32]:
data[["Dest","Origin"]].groupby(["Dest"]).count().sort_values(by="Origin")

      Origin
Dest
PPG        8
STC        9
OWB        9
ADK        9
OGD       10
HGR       13
BFM       16
BKG       16
SMX       18
OTH       20
PGV       20
PSM       20
MMH       29
CYS       30
CNY       31
HTS       32
SPN       38
INL       49
ADQ       49
CDC       50
LBL       50
BRD       50
ESC       50
HIB       50
LAR       51
DVL       51
BFF       51
LBF       51
APN       51
VEL       51
...      ...
IAD     5937
DAL     6012
TPA     6520
MDW     6573
BNA     6853
MIA     7106
SAN     7356
FLL     8521
BWI     8858
SLC     9046
PHL     9666
JFK     9958
DCA    11018
EWR    11152
SEA    11443
MCO    12077
MSP    12483
BOS    12607
LAS    13217
DTW    13281
SFO    13538
LGA    13553
PHX    14120
IAH    14874
LAX    17501
CLT    19666
DEN    20562
DFW    25023
ORD    27426
ATL    31197

[348 rows x 1 columns]